body {
  font-family: 'Brawler', serif, arial;
  font-size: 1.5em;
}

h1 {
  font-family: 'Pacifico', cursive, serif, arial;
  font-size: 5em;
  margin: 0;
  color: #45B69C;
  text-align: center;
  padding-bottom: 20px;
  border-bottom: 3px solid #eee;
}

input[type='submit'], button {
  color: #FFF;
  font-size: 1.2em;
  padding: 15px;
  border-radius: 12px;
  border: .05em solid #E6E6E6;
  text-shadow: 0 .7px .7px rgba(0, 0, 0, 0.2);
  background: #A8D3FF;
}

input[type='text'], input[type='time'] {
  width: 400px;
  height: 40px;
  border-radius: 3px;
  color: #707678;
  padding: 5px;
}

input[type='time'], input[type='number'] {
  width: 150px;
  color: #707678;
}

textarea {
  width: 700px;
  color: #707678;
  height: 80px;
  padding: 5px;
  text-align: top;
  margin-bottom: 40px;
}

ol li {
  list-style-type: none;
}

form {
  display: inline-block;
  margin-top: 40px;
  margin-left: 400px;

}

label {
  margin: 5px 15px 5px 20px;
  color: #707678;
}

.steps {
  vertical-align: top;
}

.stepslabel {
  vertical-align: top;
}


.homeLink {
  margin: 5px;
  padding: 5px;
  display: inline-block;
  font-size: .7em;
  text-align: left;
  position: absolute;
  top: 10px;
  left: 10px;

} 

.submitRecipeDetails {
  margin-top: 40px;
  margin-left: 20px;
  width: 350px;
  font-size: 1.2em;
  padding: 8px;
}


.logo {
  float: left;
  height: 75px;
  width: 68px;
}

a:-webkit-any-link {
  padding-top: 15px;
  color: #8C9EA3;
  text-decoration: none;
  font-weight: bold;
  cursor: auto;
  text-align: center;
}

.pageHeading {
  background-color: #F6FFFF;
  clear: both;
}

#entryContainer {
  display:block;
  margin-left: auto;
  margin-right: auto;
}

.sendRecipe {
    position: absolute;
    background-color: #45B69C;
    top: 441px;
    left: 900px;
    height: 53px;
    width: 350px;
 }


.intro {
  padding-top: 10px;
  margin-bottom: 10px;
  font-family: 'Lato', sans-serif;
  text-align: center;
  font-size: 1.5em;
  font-style: italic;
  color: #707678;
}

.recipeEntry {
  display: block;
  width: 800px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}

.clearfix {
  overflow: auto;
}

.viewContainer {
  margin-left: auto;
  margin-right:auto;
}

.buttonDiv {
  position: absolute;
  clear: both;
}

.displayContainer {
  margin-left: auto;
  margin-right: auto;

}

h3 {
  text-align: center;
  font-size: 2.5em;
  text-decoration: underline;
  font-style: italic;
  color: #A8D3FF;
  font-family: 'Lato', sans-serif;
}

/* Google Fonts ***
font-family: 'Pacifico', cursive;
font-family: 'Brawler', serif;
font-family: 'Droid Serif', serif;
font-family: 'Allan', cursive;
font-family: 'Luckiest Guy', cursive;
font-family: 'Sigmar One', cursive;
*/